@model SFBB.Web.ViewModels.Threads.ThreadsViewModel
@{
    int i = 1;
    ViewBag.Title = @Model.Title;
}
<div class="container">
    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span>&nbsp; @Html.ActionLink("Forum", "Index", "Home")</li>
        <li><span>@Html.ActionLink(@Model.CategoryName, "Category", "Categories", new { id = @Model.CategoryId }, new { })</span></li>
        <li><span>@Html.ActionLink(@Model.ForumName, "Category", "Categories", new { id = @Model.ForumId }, new { })</span></li>
        <li class="active">@Model.Title</li>
    </ol>
</div>

<div class="container">
    <div class="row table-bordered thread-list-border-thread-top">
        <div class="col-md-6">
            @Model.CreatedOn.ToShortDateString()
        </div>
        <div class="col-md-6 text-right">
            [#@(i++)]
        </div>
    </div>
    <div class="row table-bordered thread-list-border-thread-bottom">
        <div class="col-md-2" style="border-right: solid;">
            @Model.AuthorName
            <br />
            Join date: @Model.AuthorJoinDate.ToShortDateString()
            <br />
            Posts: @((Model.AuthorRepliesCount) + (Model.AuthorThreadsCount))
        </div>
        <div class="col-md-10">
            @Model.Title
            <hr class="fix-thread-content" />
            @Model.Content
            <hr />
            @Model.Signature
        </div>
    </div>
    <div class="spacer"></div>
    @foreach (var reply in Model.Replies)
    {
        <div class="row table-bordered thread-list-border-thread-top">
            <div class="col-md-6">
                @reply.CreatedOn.ToShortDateString()
            </div>
            <div class="col-md-6 text-right">
                [#@(i++)]
            </div>
        </div>
        <div class="row table-bordered thread-list-border-thread-bottom">
            <div class="col-md-2" style="border-right: solid;">
                @reply.AuthorName
                <br />
                Join date: @reply.AuthorJoinDate.ToShortDateString()
                <br />
                Posts: @((reply.AuthorRepliesCount) + (reply.AuthorThreadsCount))
            </div>
            <div class="col-md-10">
                @reply.Title
                <hr class="fix-thread-content" />
                @reply.Content
                <hr />
                @reply.Signature
            </div>
        </div>
        <div class="spacer"></div>
    }
</div>