@model SFBB.Web.ViewModels.Category.ForumsByCategoryViewModel
@{
    ViewBag.Title = "Forums of " + Model.Title;
}
<div class="container">
    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span>&nbsp; @Html.ActionLink("Forum", "Index", "Home")</li>
        <li class="active"><span>@Model.Title</span></li>
    </ol>
</div>
<div class="container">
    @if (Model.Forums.Count == 0)
    {
        <p class="text-center">No forums</p>
    }
    else
    {
        <div id="wrapper">
            <div class="row table-bordered" style="background-color: rgb(47, 47, 47)">
                <div class="col-md-6">@Model.Title</div>
                <div class="col-md-2">Threads/Posts</div>
                <div class="col-md-4">Last post</div>
            </div>
            @foreach (var forum in Model.Forums)
            {
                <div class="row no-pad">
                    <div class="col-md-1 text-center"><img src="~/Assets/Images/DefaultForumIcon.ico" width="48" height="48" /></div>
                    <div class="col-md-5">
                        <p>@Html.ActionLink(forum.Title, "ThreadsByForum", "Threads", new { id = forum.Id }, new { })</p>
                        <p>@forum.Description</p>
                    </div>
                    <div class="col-md-2">
                        <p>Threads: @forum.TotalThreads</p>
                        <p>Posts: @(forum.TotalThreads + forum.TotalReplies)</p>
                    </div>
                    <div class="col-md-4">
                        @if (forum.LastPostName != null)
                        {
                            @forum.LastPostName <br />
                            @forum.LastPostUser <br />
                            @forum.LastPostDate
                        }
                        else
                        {
                            @:No threads started.
                        }
                    </div>
                </div>
            }
        </div>
    }
</div>
