@model IEnumerable<SFBB.Web.ViewModels.Home.IndexViewModel>
@{
    ViewBag.Title = "Forums";
    int i = 1;
}
<div class="container">
    <ol class="breadcrumb">
        <li class="active"><span class="glyphicon glyphicon-home"></span>&nbsp;Forum</li>
    </ol>
</div>
<div class="container">
    @foreach (var category in Model)
    {
        <div class="row table-bordered category-heading">
            <div class="col-md-6">@Html.ActionLink(category.Title, "Category", "Categories", new { id = category.Id }, new { @style="color: orange"})</div>
            <div class="col-md-2">Threads/Posts</div>
            <div class="col-md-3">Last post</div>
            <div class="col-md-1 text-right">
                <div data-toggle="collapse" data-target="#wrapper@(i)" class="glyphicon glyphicon-chevron-up toggleable" onclick=""></div>
            </div>
        </div>
        <div id="wrapper@(i++)" class="collapse in forums-content">
            @foreach (var forum in category.Forums)
            {
                <div class="row forum-spacing">
                    <div class="col-md-1 text-center"><img src="~/Assets/Images/DefaultForumIcon.ico" width="48" height="48" /></div>
                    <div class="col-md-5">
                        <p class="">@Html.ActionLink(forum.Title, "", "Forums", new { id = forum.Id }, new { })</p>
                        <small>@forum.Description</small>
                    </div>
                    <div class="col-md-2">
                        <p>Threads: @forum.TotalThreads</p>
                        <p>Posts: @(forum.TotalThreads + forum.TotalPosts)</p>
                    </div>
                    <div class="col-md-4">
                        @if(forum.LastPostName != null)
                        {
                            @Html.ActionLink(forum.LastPostName, "Thread", "Threads", new { id = forum.LastPostId }, new { }) <br />
                            @forum.LastPostUser <br /> @forum.LastPostDate
                        }
                        else
                        {
                            @:No threads started.
                        }
                    </div>                  
                </div>
            }
        </div>
        <br />
    }
</div>