@model IEnumerable<SFBB.Web.ViewModels.Home.IndexViewModel>
@{
    ViewBag.Title = "Forums";
    int i = 1;
}
<div class="container">
    <ol class="breadcrumb">
        <li class="active"><span class="glyphicon glyphicon-home"></span>&nbsp;Forum</li>
    </ol>
</div>
<div class="container">
    @foreach (var category in Model)
    {
        <div class="row table-bordered" style="background-color: rgb(47, 47, 47)">
            <div class="col-md-6">@Html.ActionLink(category.Title, "GetForumsByCategory", "Category", new { id = category.Id }, new { })</div>
            <div class="col-md-2">Threads/Posts</div>
            <div class="col-md-3">Last post</div>
            <div class="col-md-1 text-right">
                <div data-toggle="collapse" data-target="#wrapper@(i)" class="glyphicon glyphicon-chevron-up" onclick=""></div>
            </div>
        </div>
        <div id="wrapper@(i++)" class="collapse in">
            @foreach (var forum in category.Forums)
            {
                <div class="row no-pad">
                    <div class="col-md-1 text-center"><img src="~/Assets/Images/DefaultForumIcon.ico" width="48" height="48" /></div>
                    <div class="col-md-5">
                        <p class="">@Html.ActionLink(forum.Title, "ThreadsByForum", "Threads", new { id = forum.Id }, new { })</p>
                        <p>@forum.Description</p>
                    </div>
                    <div class="col-md-2">
                        <p>Threads: @forum.TotalThreads</p>
                        <p>Posts: @(forum.TotalThreads + forum.TotalPosts)</p>
                    </div>
                    <div class="col-md-4">
                        @if(forum.LastPostName != null)
                        {
                            @forum.LastPostName <br />
                            @forum.LastPostUser <br /> @forum.LastPostDate
                        }
                        else
                        {
                            @:No threads started.
                        }
                    </div>
                </div>
            }
        </div>
    }
</div>